HelpDriverBuddy.Service.ClientLibrary/Service References/HelpDriverBuddyService/HelpDriverBuddyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelpDriverBuddy.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelpDriverBuddy.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVehicleProblem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleProblem" nillable="true" type="tns:VehicleProblem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleProblem" nillable="true" type="tns:ArrayOfVehicleProblem" />
  <xs:complexType name="VehicleProblem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicle" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="VehicleOwner" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleProblem" nillable="true" type="tns:VehicleProblem" />
</xs:schema>