HelpDriverBuddy.Service.ClientLibrary/Service References/HelpDriverBuddyService/HelpDriverBuddyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://helpbuddy-001-site1.btempurl.com/HelpDriverBuddyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelpDriverBuddy.Service.Models" />
  <xs:element name="GetVehicleProblems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleProblemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HelpDriverBuddy.Service.Models" minOccurs="0" name="GetVehicleProblemsResult" nillable="true" type="q1:ArrayOfVehicleProblem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVecleProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HelpDriverBuddy.Service.Models" minOccurs="0" name="infomation" nillable="true" type="q2:VehicleProblem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVecleProblemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>